.food-card {
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.food-card img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
}
