# Angular specific
front/dist/
front/out-tsc/
front/tmp/
front/coverage/
front/e2e/test-output/
front/.angular/
front/.angular/

# Node modules and dependency files
front/node_modules/
front/package-lock.json
front/yarn.lock

# Environment files
front/.env

# Angular CLI and build artefacts
front/.angular-cli.json
front/.ng/

# TypeScript cache
front/*.tsbuildinfo

# Logs
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

.vscode/
.env
.claude/
nul
