.sidenav-container {
    height: 100vh;
}

.sidenav {
    /*width: 250px;*/
    border-right: 1px solid var(--color-border-light);
}

.logo-container {
    padding: var(--spacing-xl);
    text-align: center;
    border-bottom: 1px solid var(--color-border-light);
    margin-bottom: var(--spacing-md);
}

.logo {
    height: 50px;
    width: auto;
}

/* Style des liens actifs Material */
mat-nav-list a.active {
    background-color: rgba(124, 179, 66, 0.1);
    color: var(--color-primary);

    mat-icon {
        color: var(--color-primary);
    }
}

mat-sidenav-content {
    padding: var(--spacing-xl);
}
