<div class="seasonality-card">
    <div class="seasonality-header">
        <h2>Calendrier des aliments</h2>
        <p>Visualisez en un coup d'œil la saisonnalité de chaque aliment</p>
    </div>

    <div class="table-wrapper">
        <table class="seasonality-table">
            <thead>
                <tr>
                    <th></th>
                    @for (month of months; track month) {
                    <th>{{ formatMonth(month) }}</th>
                    }
                    <!--@for (food of foods(); track food.id) {
                    <th>{{ food.name }}</th>
                    }-->
                </tr>
            </thead>
            <tbody>
                @for (food of foods(); track food.id) {
                <tr>
                    <td class="month-cell">{{ food.name}}</td>
                    @for (month of months; track month) {
                    <td class="cell" [class.active]="hasMonth(food, month)">
                        @if (hasMonth(food, month)) { ✕ }
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
