<div class="recipe-card" [class.compact]="compact()">
  <!-- <img [src]="recipe()?.image" alt="{{ recipe()?.name }}" /> -->

  <div class="content">
    <h3>{{ recipe()?.name }}</h3>
    <p class="description">{{ recipe()?.description }}</p>

    @if (!compact()) {
    <p class="meta">
      <strong>Temps :</strong> {{ recipe()?.time }} min<br />
      <strong>Personnes :</strong> {{ recipe()?.people }}<br />
      <strong>Four :</strong> {{ recipe()?.oven ? 'Oui ✅' : 'Non ❌' }}
    </p>

    <h4>Ingrédients :</h4>
    <ul>
      @for (food of recipe()?.foods; track food.id) {
      <li>{{ food.name }}</li>
      }
    </ul>
    } @if (isAdmin()){
    <button (click)="acceptRecipe(recipe())">Accepter</button>
    <button (click)="deleteRecipe(recipe())">Refuser</button>
    }
  </div>
</div>
