.home-container {
  text-align: center;
  margin-top: 20px;
  /* font-size: 15px; */
  /* font-weight: bold; */
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
