<mat-card
    appearance="outlined"
    class="food-card"
    [style.background]="getBackgroundColor(food()?.category)"
    (click)="openDetail()"
>
    <mat-card-header>
        <mat-card-title> {{ food()?.name }} </mat-card-title>
    </mat-card-header>

    @if (isAdmin()) {
    <mat-card-actions align="end">
        <button
            matButton
            (click)="approveFood(food()); $event.stopPropagation()"
        >
            <mat-icon>check</mat-icon>
        </button>
        <button
            mat-button
            (click)="rejectFood(food()); $event.stopPropagation()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-actions>
    }
</mat-card>
